<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="NameOfBrowser" value="Firefox"></parameter>
    <classes>
      <class name="Com.sauceDemo.TestPackage.TC04_VerifyAllProductsAddToCartFunctionality"/>
      <class name="Com.sauceDemo.TestPackage.TC03_Verify_BagProduct_AddToCart_Functionality"/>
      <class name="Com.sauceDemo.TestPackage.TC02_VerifyLogOutFunctionality"/>
      <class name="Com.sauceDemo.TestPackage.TC01_VerifyLoginFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
